<form [formGroup]="rxForm" (ngSubmit)="onRxFormSave()">
  <div>
    Date:
    <mat-form-field appearance="fill">
      <mat-label>Rx is/was on </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <span>OD: </span>
    <app-basic-rx-form formControlName="odBasicRx"></app-basic-rx-form>
  </div>
  <div>
    <span>OS: </span>
    <app-basic-rx-form formControlName="osBasicRx"></app-basic-rx-form>
  </div>

  <button mat-raised-button color="primary" type="submit">Save</button>
</form>