<form [formGroup]="rxForm" (ngSubmit)="onRxFormSave()">
  <div>
    Date:
    <app-date-picker formControlName="date"></app-date-picker>
  </div>
  <div *ngFor="let eye of eyes; let i = index">
    <div>
      <span>{{eye.toUpperCase()}}: </span>
      <div>
        <app-basic-rx-form formControlName="{{eye.toLowerCase()}}BasicRx"></app-basic-rx-form>
        <button
          mat-raised-button
          color="basic"
          type="button"
          *ngIf="!showPrism && i === 0"
          (click)="onshowPrismClick()"
        >
          Show Prism
        </button>
      </div>
      <div *ngIf="showPrism">
        <span *ngFor="let type of prismType; let i = index">
          <app-basic-prism-form
            formControlName="{{eye.toLowerCase()}}{{type}}Prism"
            [prismType]="type.toLowerCase()"
          >
          </app-basic-prism-form>
        </span>
      </div>
    </div>
  </div>

  <button mat-raised-button color="primary" type="submit">Save</button>
</form>