<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <ul>
      <li>
        <a (click)="goToDoctor()">Doctor</a>
      </li>
      <li>
        <a (click)="goToInventory()">Inventory</a>
      </li>
      <li>
        <a (click)="goToAboutUs()">About Us</a>
      </li>
    </ul>
    <h1>Welcome {{ user.username }}!</h1>
    this is the Home page
    <button (click)="signOut()">Sign Out</button>
  </ng-template>
</amplify-authenticator>
<div>

<router-outlet></router-outlet>