.mat-form-field {
    margin: 0 5px;
}
.address-row {
    display: flex;
    max-width: 600px;
    .street-address {
        flex-grow: 1;
    }
    .address-component {
        width: calc(25% - 10px);
    }
}
