<form [formGroup]="rxForm" (ngSubmit)="onRxFormSave()">
  Date:
  <!-- <input formControlName="date" placeholder="Enter date" matInput [matDatepicker]="picker"> -->
  <mat-form-field appearance="fill">
    <mat-label>Rx is/was on </mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div>
    OD:
    <mat-form-field appearance="fill">
      <mat-label>Sph</mat-label>
      <input
        matInput
        id="odSph"
        formControlName="odSph"
        type="text"
        [matAutocomplete]="auto"
        [value]="defaultSelectedValue"
        [ngModel]="formattedRxData.od.sph"
        (change)="onSphOrCylChange('OD-sph', rxForm.controls['odSph'].value)"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="rxForm.controls['odSph'].hasError('invalidFormat')">Wrong format of value
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cyl</mat-label>
      <input
        matInput
        id="odCyl"
        formControlName="odCyl"
        type="text"
        [ngModel]="formattedRxData.od.cyl"
        (change)="onSphOrCylChange('OD-cyl', rxForm.controls['odCyl'].value)"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Axis</mat-label>
      <input
        matInput
        formControlName="odAxis"
        type="text"
        [ngModel]="formattedRxData.od.axis"
        (change)="onAxisChange('OD', rxForm.controls['odAxis'].value)"
      />
    </mat-form-field>
    <button
      mat-raised-button
      type="button"
      *ngIf="!showAdd"
      (click)="showAdd = !showAdd"
    >
      Show Add
    </button>
    <mat-form-field appearance="fill" *ngIf="showAdd">
      <mat-label>Add</mat-label>
      <input
        matInput
        id="odAdd"
        formControlName="odAdd"
        type="text"
        [ngModel]="formattedRxData.od.add"
        (change)="onAddChange('OD', rxForm.controls['odAdd'].value)"
      />
      <mat-error *ngIf="rxForm.controls['odAdd'].errors?.['isAddInvalid']">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      type="button"
      *ngIf="!showPrism"
      (click)="showPrism = !showPrism"
    >
      Show Prism
    </button>
    <mat-form-field appearance="fill" *ngIf="showPrism">
      <mat-label>Prism</mat-label>
      <input matInput formControlName="odPrism" />
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="showPrism">
      <mat-label>Prism Base</mat-label>
      <input matInput formControlName="odPrismBase" />
    </mat-form-field>
  </div>
  <div>
    OS:
    <mat-form-field appearance="fill">
      <mat-label>Sph</mat-label>
      <input
        matInput
        id="osSph"
        formControlName="osSph"
        type="text"
        [ngModel]="formattedRxData.os.sph"
        (change)="onSphOrCylChange('OS-sph', rxForm.controls['osSph'].value)"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cyl</mat-label>
      <input
        matInput
        id="osCyl"
        formControlName="osCyl"
        type="text"
        [ngModel]="formattedRxData.os.cyl"
        (change)="onSphOrCylChange('OS-cyl', rxForm.controls['osCyl'].value)"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Axis</mat-label>
      <input
        matInput
        formControlName="osAxis"
        [ngModel]="formattedRxData.os.axis"
        (change)="onAxisChange('OS', rxForm.controls['osAxis'].value)"
      />
      <mat-error *ngIf="true">errrrr</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="showAdd">
      <mat-label>Add</mat-label>
      <input
        matInput
        formControlName="osAdd"
        type="text"
        min="0"
        max="20"
        step="0.25"
        [ngModel]="formattedRxData.os.add"
        (change)="onAddChange('OS', rxForm.controls['odAdd'].value)"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="showPrism">
      <mat-label>Prism</mat-label>
      <input matInput formControlName="osPrism" />
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="showPrism">
      <mat-label>Prism Base</mat-label>
      <input matInput formControlName="osPrismBase" />
    </mat-form-field>
  </div>
  <div>
    <button type="button" mat-raised-button color="warn" (click)="onClearRx()">
      Clear
    </button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>
